@keyframes left-top-move-in {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: calc(50% - 200px);
    top: calc(50% - 36px);
    font-size: 36px;
    opacity: 1;
    color: coral;
  }
  75% {
    left: calc(50% - 200px);
    top: calc(50% - 36px);
    font-size: 36px;
    opacity: 1;
    color: coral;
  }
  100% {
    left: calc(50% - 400px);
    top: calc(50% - 72px);
    font-size: 72px;
    opacity: 0;
  }
}

@keyframes left-top-move-in-mobile {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: calc(50% - 18px);
    top: calc(50% - 140px);
    font-size: 36px;
    opacity: 1;
    color: coral;
  }
  75% {
    left: calc(50% - 18px);
    top: calc(50% - 140px);
    font-size: 36px;
    opacity: 1;
    color: coral;
  }
  100% {
    left: calc(50% - 36px);
    top: calc(50% - 240px);
    font-size: 72px;
    opacity: 0;
  }
}

@keyframes right-top-move-in {
  0% {
    right: 0;
    top: 0;
  }
  25% {
    right: calc(50% - 100px);
    top: calc(50% - 36px);
    font-size: 36px;
    opacity: 1;
    color: coral;
  }

  75% {
    right: calc(50% - 100px);
    top: calc(50% - 36px);
    font-size: 36px;
    opacity: 1;
    color: coral;
  }

  100% {
    right: calc(50% - 300px);
    top: calc(50% - 72px);
    font-size: 72px;
    opacity: 0;
  }
}

@keyframes right-top-move-in-mobile {
  0% {
    right: 0;
    top: 0;
  }
  25% {
    right: calc(50% - 18px);
    top: calc(50% + 36px);
    font-size: 36px;
    opacity: 1;
    color: coral;
  }

  75% {
    right: calc(50% - 18px);
    top: calc(50% + 36px);
    font-size: 36px;
    opacity: 1;
    color: coral;
  }

  100% {
    right: calc(50% - 36px);
    top: calc(50% + 100px);
    font-size: 72px;
    opacity: 0;
  }
}

@keyframes left-bottom-move-in {
  0% {
    left: 0;
    bottom: 0;
  }
  25% {
    left: calc(50% - 100px);
    bottom: calc(50% - 18px);
    font-size: 36px;
    opacity: 1;
    color: coral;
  }
  75% {
    left: calc(50% - 100px);
    bottom: calc(50% - 18px);
    font-size: 36px;
    opacity: 1;
    color: coral;
  }
  100% {
    left: calc(50% - 200px);
    bottom: calc(50% - 36px);
    font-size: 72px;
    opacity: 0;
  }
}

@keyframes left-bottom-move-in-mobile {
  0% {
    left: 0;
    bottom: 0;
  }
  25% {
    left: calc(50% - 18px);
    bottom: 50%;
    font-size: 36px;
    opacity: 1;
    color: coral;
  }
  75% {
    left: calc(50% - 18px);
    bottom: 50%;
    font-size: 36px;
    opacity: 1;
    color: coral;
  }
  100% {
    left: calc(50% - 36px);
    bottom: calc(50% - 36px);
    font-size: 72px;
    opacity: 0;
  }
}

@keyframes right-bottom-move-in {
  0% {
    right: 0;
    bottom: 0;
  }
  25% {
    right: calc(50% - 200px);
    bottom: calc(50% - 18px);
    font-size: 36px;
    opacity: 1;
    color: coral;
  }
  75% {
    right: calc(50% - 200px);
    bottom: calc(50% - 18px);
    font-size: 36px;
    opacity: 1;
    color: coral;
  }
  100% {
    right: calc(50% - 500px);
    bottom: calc(50% - 36px);
    font-size: 72px;
    opacity: 0;
  }
}

@keyframes right-bottom-move-in-mobile {
  0% {
    right: 0;
    bottom: 0;
  }
  25% {
    right: calc(50% - 18px);
    bottom: calc(50% - 180px);
    font-size: 36px;
    opacity: 1;
    color: coral;
  }
  75% {
    right: calc(50% - 18px);
    bottom: calc(50% - 180px);
    font-size: 36px;
    opacity: 1;
    color: coral;
  }
  100% {
    right: calc(50% - 36px);
    bottom: calc(50% - 360px);
    font-size: 72px;
    opacity: 0;
  }
}

@keyframes background-opacity {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
